.header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .translate-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
.translate-button:hover {
    background-color: #0056b3;
}
#targetLanguage {
    appearance: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #baa6a6;
    font-size: 16px;
    margin-left: 10px;
}

#targetLanguage:focus {
    outline: none;
    box-shadow: 0 0 4px #ff0073;
}
.selected-text-heading,
.translated-heading {
    font-weight: bold;
    margin-bottom: 5px;
    background-color: blue;
}

.selected-text,
.translated-text {
    white-space: pre-line;
}

.translate-btn {
    background-color: #007bff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

body {
    background-color: #00FA9A;
    margin: 20%;
}
#title {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
}

img {
    display: inline-block;
    width: 100%;
}

#caption {
    font-size: 17px;
    font-family: Gill Sans;
    color: black;
}
div#tribute-data {
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #98FB98;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}

/* Styling the title of the content */
h1.title-APJ {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}
#tribute-link {
    text-decoration: none;
    color: black;
}